<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>gr.klianos.bifrost.helper</string>
    <key>BundleProgram</key>
    <string>Contents/Resources/BifrostHelper</string>
    <key>MachServices</key>
    <dict>
        <key>gr.klianos.bifrost.helper</key>
        <true/>
    </dict>
	<key>AssociatedBundleIdentifiers</key>
    <array>
        <string>gr.klianos.bifrost</string>
	</array>
	<key>AbandonProcessGroup</key>
	<false/>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
